/* Write your CSS here */

.home-container {
  background-color: #2b2c49;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.heading {
  color: white;
}
.btn {
  width: 100px;
  height: 80px;
  background-color: #f8fafc;
}
